@media screen and (min-width: 736px) {
  body {
    display: grid;
  }
  header {
    display: grid;
  }
  main ul {
    display: grid;
    grid-columns: 20% 20% 20%;
    grid-rows: auto;
  }
 
  main tr {
    display: grid;
    grid-columns: 2fr 1fr;
    grid-rows: auto;
  }
}
