@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-decoration: none;
    font-family: 'source Sans Pro', sans-serif;
}
ul {
  list-style: none;
  text-align: center;
}
/*==========     HEADER    ============*/
header {
}
header h1 {
 padding: 10px;
 font-size: 2.5em;
}
/*========== MAIN / TERMS =============*/
main {
  width: 100%;
}
main p {
  display: block;
   margin: 20px;
}
main ul {
  text-align: center;
  justify-content: center;
}
main ul li {
   display: inline-block;
   padding: 10px 10%;
   border: 2px solid #d3d3d3;
   margin: 5px;
   align-self: center;
   cursor: pointer;
}
main li input {
   display: none;
border: none;
}
main ul li span{
   display: block;


}
/*========== MAIN / TABLE ===========*/
section {
  text-align: center;
}
#description {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   margin: 10px;
   display: inline-block;
}
#description td, #description th {
   border: 1px solid #ddd;
   padding: 20px;
   font-size: 1.5em;
   text-align: left;
}
#description td:nth-child(2) {
   list-style: none;
   text-align: center;
}
#description th {
    padding: 12px ;
    background: #000;
    color: #FFF;
}
#description tr td:nth-child(2){
  display: hidden;
}
.div_swap {
  width: 26vw;
  height: 3em;

}

/* ===== SUBMIT ===== */
#submitButton,
button {
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
    margin: 30px 10vw;
}